EmailSettings__FromName='App'
EmailSettings__FromEmail='example@gmail.com'
EmailSettings__ToName='Recipient'
EmailSettings__ClientHost='smtp.gmail.com'
EmailSettings__ClientPort=465
EmailSettings__ClientLogin='example@gmail.com'
EmailSettings__ClientPassword=''
EmailSettings__UseSsl=true

RabbitMqSettings__Host=rabbitmq://rabbitmq
RabbitMqSettings__Username=user
RabbitMqSettings__Password=password