POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

DB_NAME=CvManagerDb

RABBITMQ_USER=user
RABBITMQ_PASSWORD=password

MINIO_USER=Admin
MINIO_PASSWORD=password

POSTGRES_ODOO_DB_NAME=postgres
POSTGRES_ODOO_USER=user
POSTGRES_ODOO_PASSWORD=password

ODOO_HOST=odoo-db
ODOO_USER=user
ODOO_PASSWORD=password
BACKEND_API_URL="http://host.docker.internal:5176/Odoo/position"