.project-list__container {
    display: flex;
    flex-direction: column;

    gap: 12px;
}

.project-list__card {
    cursor: default;
}

.project-list__card--clickable {
    cursor: pointer;
}

.project-list__tags {
    display: flex;
    flex-wrap: wrap;

    margin-top: 8px;

    gap: 8px;
}

.project-list__add-btn {
    width: fit-content;
}