ConnectionStrings__PostgreSqlConnectionString="User ID=postgres;Password=password;Host=postgres-db;Port=5432;Database=CvManagerDb;"

JwtSettings__SecretKey=secretkeysecretkeysecretkeysecretkeysecretkey
JwtSettings__Audience="http://localhost:5176"
JwtSettings__Issuer="http://localhost:5176"
JwtSettings__ExpiresInMinutes=10

RefreshTokenSettings__ExpiresInDays=14

AccountConfirmationTokenSettings__ExpiresInMinutes=10

AccountConfirmationEmailContent__Subject="Account confirmation"
AccountConfirmationEmailContent__Body="Use this link to confirm your account:"
AccountConfirmationEmailContent__Link="http://localhost:5176/Users/verify"

AccountConfirmationSettings__RedirectUrl="http://localhost:3000/account-confirm"

RabbitMqSettings__Host="rabbitmq://rabbitmq"
RabbitMqSettings__Username="user"
RabbitMqSettings__Password="password"

TokenIdentifiers__AccessTokenIdentifier="access_token"
TokenIdentifiers__RefreshTokenIdentifier="refresh_token"

S3StorageSettings__ServiceUrl="http://minio:9000"
S3StorageSettings__AccessKey="Admin"
S3StorageSettings__SecretKey="password"
S3StorageSettings__BucketName="user-profiles"
S3StorageSettings__PresignedUrlExpirationMinutes=60

OAuthAuthenticationSettings__Google__ClientId=""
OAuthAuthenticationSettings__Google__ClientSecret=""
OAuthAuthenticationSettings__Google__RedirectUrl="http://localhost:3000/profile?mode=view"
OAuthAuthenticationSettings__Google__CallbackPath="/signin-google"

OAuthAuthenticationSettings__Facebook__ClientId=""
OAuthAuthenticationSettings__Facebook__ClientSecret=""
OAuthAuthenticationSettings__Facebook__RedirectUrl="http://localhost:3000/profile?mode=view"
OAuthAuthenticationSettings__Facebook__CallbackPath="/signin-facebook"

CorsSettings__PolicyName="AllowReactApp"
CorsSettings__AllowedOrigin="http://localhost:3000"

RolesSettings__Roles__0__Id="06af8b49-9a2a-4017-af1d-c2d0ef25ec45"
RolesSettings__Roles__0__Name="Regular"
RolesSettings__Roles__1__Id="d032d2d0-0681-442f-b784-b2a15c1a4dde"
RolesSettings__Roles__1__Name="Recruiter"
RolesSettings__Roles__2__Id="7cfd6b8e-4289-4f97-911d-b24bb5608f68"
RolesSettings__Roles__2__Name="Admin"
RolesSettings__DefaultRoleId="06af8b49-9a2a-4017-af1d-c2d0ef25ec45"
RolesSettings__RecruiterRoleId="d032d2d0-0681-442f-b784-b2a15c1a4dde"

DefaultRolePoliciesSettings__AllowAdmin__Name="AllowAdmin"
DefaultRolePoliciesSettings__AllowAdmin__AllowedRoles__0="Admin"
DefaultRolePoliciesSettings__AllowRecruiter__Name="AllowRecruiter"
DefaultRolePoliciesSettings__AllowRecruiter__AllowedRoles__0="Admin"
DefaultRolePoliciesSettings__AllowRecruiter__AllowedRoles__1="Recruiter"
DefaultRolePoliciesSettings__AllowRegular__Name="AllowRegular"
DefaultRolePoliciesSettings__AllowRegular__AllowedRoles__0="Admin"
DefaultRolePoliciesSettings__AllowRegular__AllowedRoles__1="Recruiter"
DefaultRolePoliciesSettings__AllowRegular__AllowedRoles__2="Regular"

FileUploadingSettings__AllowedExtensions__0=".jpg"
FileUploadingSettings__AllowedExtensions__1=".jpeg"
FileUploadingSettings__AllowedExtensions__2=".png"
FileUploadingSettings__AllowedExtensions__3=".webp"
FileUploadingSettings__MaxFileSize=5242880

SalesforceSettings__ClientId=
SalesforceSettings__ClientSecret=
SalesforceSettings__LoginUrl=
SalesforceSettings__ApiVersion="67.0"
SalesforceSettings__GrantType="client_credentials"

DropBoxSettings__DropboxUploadUrl="https://content.dropboxapi.com/2/files/upload"
DropBoxSettings__AccessToken=
DropBoxSettings__Folder="SupportTickets"

SupportTicketSettings__AdminEmails__0="test@test.com"